@page "/"

<div class="welcome-container">
    <h1>Welcome to My Uppgift 3 BlazorForAzure project!!</h1>
    <p>Thank you for visiting. Feel free to explore and connect with me.</p>

    <!-- Bild -->
    <img src="img/fox.png" alt="Welcome Image" class="welcome-image" />

    <!-- Links -->
    <div class="social-links">
        <a href="https://twitter.com/your_twitter" target="_blank">Twitter</a>
        <a href="https://www.linkedin.com/in/your_linkedin" target="_blank">LinkedIn</a>
        <a href="https://github.com/your_github" target="_blank">GitHub</a>
    </div>
</div>
